In [1]:
import pandas as pd, numpy as np
import random

# Déclaration des signes astrologiques 

J'ai pris pour simplifier seulement 4 signes astrologiques ("bélier","taureau","gémeaux","cancer"). <br> Pour chaque signe astrologique, j'établis une liste de signe astrologique comptatible.<br>
Par exemple le bélier est compatible et avec les taureau et avec les cancer.

In [2]:
signe_astro = ["bélier","taureau","gémeaux","cancer"]

compatibilite = {"bélier":[ "taureau","cancer"],
                "taureau":["gémeaux"],
                "gémeaux": ["taureau"],
                "cancer": ["bélier","taureau","gémeaux"]}

# Je crée une base fictive

C'est la le format de la base user que vous me fourniriez. <br>
Elle est visible ci-dessous. J'ai choisi un nombre de 20 utilisateurs pour que la sortie de l'algorithme soit plus facilement interprétable. <br>
Et seulement 3 colonnes : le signe astrologique, la taille et la préférences de taille.

In [3]:
n_user = 20

signe_astro_col = [random.choice(signe_astro) for _ in range(n_user)]
taille_col = np.random.randint(160,190,size=(n_user))
taille_pref_col = np.random.randint(160,190,size=(n_user))

data = {"user_id":range(n_user),
    "signe_astro":signe_astro_col,
       "taille":taille_col,
       "taille_pref":taille_pref_col}

df = pd.DataFrame(data)
df

    user_id signe_astro  taille  taille_pref
0         0      cancer     183          161
1         1     taureau     168          163
2         2      bélier     174          170
3         3      bélier     179          177
4         4      bélier     178          170
5         5      bélier     187          166
6         6      bélier     186          164
7         7      bélier     184          176
8         8     gémeaux     189          179
9         9      cancer     162          160
10       10     gémeaux     160          160
11       11      cancer     168          166
12       12     taureau     173          168
13       13      cancer     186          162
14       14     gémeaux     161          173
15       15      cancer     172          181
16       16      cancer     174          177
17       17     taureau     160          174
18       18     gémeaux     160          185
19       19      bélier     189          177

# Arbre de décision

C'est là le format de l'arbe de décision que vous devrez établir. <br> J'ai pris un exemple simple basé sur la taille et sur le signe astrologique. <br>
Je suppose donc que tous les users sont bisexuels pour simplifier les choses.

![Règles](rules.png)

# Traduction de l'arbre de décision en algorithme

In [4]:
def is_compatible(user1,user2):
    if (user2["taille"] < user1["taille_pref"] +5) & (user2["taille"] > user1["taille_pref"] -5):
        if user2["signe_astro"] in compatibilite[user1["signe_astro"]]:
            return 1
    else:
        return 0

# Pour chaque user, je cherche tous les autres user compatibles

Selon les règles de l'arbre de décision plus haut

In [5]:
compatibilite_df = {}
for index, row in df.iterrows():
    compatibilite_df[row["user_id"]] = []
    for _, row_bis in df[df.user_id!=row["user_id"]].iterrows():
        if is_compatible(row,row_bis)==1:
            compatibilite_df[row["user_id"]].append(row_bis["user_id"])

# Sortie de l'algorithme

Ci dessous la sortie de l'algorithme. Pour chaque user on a une liste de user compatible/

In [6]:
compatibilite_df

{0: [10, 14, 17, 18],
 1: [10, 14, 18],
 2: [1, 11, 12, 15, 16],
 3: [12, 16],
 4: [1, 11, 12, 15, 16],
 5: [1, 9, 11],
 6: [1, 9, 11, 17],
 7: [12, 15, 16],
 8: [],
 9: [10, 14, 17, 18],
 10: [17],
 11: [1],
 12: [],
 13: [10, 14, 17, 18],
 14: [12],
 15: [3, 4, 7],
 16: [2, 3, 4, 12],
 17: [],
 18: [],
 19: [12, 16]}

On remarque que le user 8 n'a aucun user compatible. <br>
On remarque aussi  que le user 15 est compatible avec les user 3,4,7. <br>
Ci-dessous, deux tables : 
* le user_id 15
* les user compatible avec lui (user_id : 3,4,7)

# Exemple de sortie pour le user_id 15

In [10]:
df[df.user_id.isin([15])]

    user_id signe_astro  taille  taille_pref
15       15      cancer     172          181

In [12]:
df[df.user_id.isin([3,4,7])]

   user_id signe_astro  taille  taille_pref
3        3      bélier     179          177
4        4      bélier     178          170
7        7      bélier     184          176

On remarque que les règles de taille et de compatibilité de signe astro ont été respecté.